.field_guide_events_calendar_container {
  line-height: 1;
  position: relative;
}

.field_guide_events_calendar_campaigns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.field_guide_events_calendar_campaigns label {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--campaign_color);
  border: none;
  background: none;
  display: inline-block;
  font-weight: normal;
}

.field_guide_events_calendar_campaigns label:hover {
  background: #eee;
}

.field_guide_events_calendar_campaigns input[type="radio"] {
  display: none;
}

.field_guide_events_calendar_campaigns :checked + label {
  background: var(--campaign_background_color);
  color: #fff;
}

.field_guide_events_calendar_event,
.field_guide_events_calendar_event:hover {
  cursor: pointer;
  white-space: normal;
  display: block;
  background: #3788d8;
  color: #fff;
  padding: 0.25rem;
}

.field_guide_events_calendar_loading {
  height: 128px;
  width: 128px;
  background-image: url(../img/loader-new.gif);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.field_guide_events_calendar_event .fc-event-title {
  font-weight: normal;
}

.field_guide_events_calendar_event .fc-daygrid-event-dot {
  display: none;
}

.field_guide_events_calendar_container .fc .fc-button-primary {
  background: #eee;
  color: #000;
  border: none;
  outline: none;
}
.field_guide_events_calendar_container .fc .fc-button-primary:hover,
.field_guide_events_calendar_container .fc .fc-button-primary:active {
  background: #ddd;
  color: #000;
}
