.neoncrm-calendar {
  padding: 10px;
  line-height: 1;
  position: relative;
}

.neoncrm-calendar .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.neoncrm-calendar .categories label {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #75a548;
  border: none;
  background: none;
  display: inline-block;
  font-weight: normal;
}

.neoncrm-calendar .categories label:hover {
  background: #eee;
}

.neoncrm-calendar .categories input[type="radio"] {
  display: none;
}

.neoncrm-calendar .categories :checked + label {
  background: #75a548;
  color: #fff;
}

.neoncrm-calendar-event,
.neoncrm-calendar-event:hover {
  cursor: pointer;
  white-space: normal;
  display: block;
  background: #3788d8;
  color: #fff;
  padding: 0.25rem;
}

.neoncrm-calendar-event > div {
  display: inline-block;
}

.neoncrm-calendar-event .fc-event-title {
  font-weight: normal;
}

.neoncrm-calendar-event .fc-daygrid-event-dot {
  display: none;
}

.neoncrm-calendar .fc .fc-button-primary {
  background: #eee;
  color: #000;
  border: none;
  outline: none;
}
.neoncrm-calendar .fc .fc-button-primary:hover,
.neoncrm-calendar .fc .fc-button-primary:active {
  background: #ddd;
  color: #000;
}

.neoncrm-calendar .loading {
  height: 128px;
  width: 128px;
  background-image: url(../img/loader-new.gif);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
