.neoncrm-calendar {
  padding: 10px;
  line-height: 1;
}

.neoncrm-calendar .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.neoncrm-calendar .categories button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #75a548;
  border: none;
  background: none;
}
.neoncrm-calendar .categories button:hover {
  background: #eee;
}
.neoncrm-calendar .categories button.active {
  background: #75a548;
  color: #fff;
}
.neoncrm-calendar-event,
.neoncrm-calendar-event:hover {
  cursor: pointer;
  white-space: normal;
  display: block;
  background: #3788d8;
  color: #fff;
  padding: 0.25rem;
}
.neoncrm-calendar-event > div {
  display: inline-block;
}
.neoncrm-calendar-event .fc-event-title {
  font-weight: normal;
}
.neoncrm-calendar-event .fc-daygrid-event-dot {
  display: none;
}
